<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.fbksy.edu.springBoot.user.mapper.UserMapper">

    <resultMap id="UserEntity" type="cc.fbksy.edu.springBoot.user.mapper.entity.UserEntity">
        <result column="user_id" property="userId"/>
        <result column="login_ame" property="loginName"/>
    </resultMap>
    
    <select id="getUserByCode" resultMap="UserEntity">
        SELECT * FROM t_mem_user WHERE user_name = #{loginName}
    </select>

</mapper>